// COLORS

$color1: #7a38d5;
$color2: #17202c;
$color3: #1de22a;
$color4: #00d2fc;
$color5: #c34a36;
$color6: #009efa;
$color7: #fefedf;
$color8: #17202c;

$primary: $color1;
$secondary: $color2;
$success: $color3;
$info: $color4;
$warning: $color5;
$danger: $color6;
$light: $color7;
$dark: $color8;

$theme-colors: (
    "primary": $primary,
    "secondary": $danger,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

// SPACING

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 8,
    10: $spacer * 10
);

// FONT SIZES

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
    0: $font-size-base * 3,
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);
